.chat-menu {
  flex: 0.3;
}

.chat-menu-wrapper {
  max-height: 92vh;
  overflow-x: scroll;
  padding: 10px;
  border-right: 1px solid lightgrey;
}

.chat-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.3rem;
  color: grey;
}

.chat-menu-add-conversation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  background: #73c8a9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #373b44,
    #73c8a9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #373b44,
    #73c8a9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: 1px solid white;
  border-radius: 999px;
  color: white;
  cursor: pointer;
}
.chat-menu-add-conversation:hover {
  transform: scale(1.15);
  transition: 0.25s ease-in;
}

.chat-menu-add-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chat-menu-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  background: #fff;
}

.chat-menu-input {
  width: 90%;
  padding: 5px;
  border: none;
  outline: none;
}

.chat-menu-selection {
  display: flex;
  justify-content: space-evenly;
  color: grey;
  cursor: pointer;
}

.activeColor {
  background: -webkit-linear-gradient(#373b44, #73c8a9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
