.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100vw;
  background: #73c8a9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #373b44,
    #73c8a9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #373b44,
    #73c8a9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navigation > h1 {
  margin-left: 30px;
  font-size: 2.7rem;
  color: white;
}

.navigation-log-out {
  min-width: 5%;
  margin-right: 70px;
  padding: 5px;
  background: whitesmoke;
  text-align: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.1s;
}
.navigation-log-out:hover {
  transform: scale(1.1);
  border: none;
}
