.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100vw;
  background: #36d1dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5b86e5,
    #36d1dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5b86e5,
    #36d1dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navigation > h1 {
  margin-left: 30px;
  font-size: 2.7rem;
  color: white;
}

.navigation-log-out {
  width: 7%;
  margin-right: 75px;
  padding: 9px;
  background: whitesmoke;
  border: 2px solid #5b86e5;
  border-radius: 999px;
  text-align: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
  outline: none;
}
