.chat-input-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-top: 5px;
  border-top: 1px solid lightgrey;
}

.chat-box-bottom .icon:first-child {
  margin-left: 15px;
}

.chat-box-bottom .icon {
  cursor: pointer;
}

.chat-input {
  width: 72%;
  padding: 5px;
  border: none;
  outline: none;
  background: whitesmoke;
}

.chat-input-submit-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  background: #73c8a9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #373b44,
    #73c8a9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #373b44,
    #73c8a9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

.chat-input-submit-wrapper:hover {
  transform: scale(1.25);
  transition: 0.25s ease-in;
}

.chat-input-submit-button {
  font-size: 1rem !important;
  color: white;
}
