.friend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 15px 0;
  background: rgb(231, 231, 231, 0.5);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.friend:hover {
  background: #d3d3d3;
}

.friend-avatar {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  object-fit: cover;
}

.friend-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 0.9;
}

.friend-info > span {
  font-weight: 600;
}

.friend-info > p {
  font-size: 0.8rem;
}
