.chat-box {
  flex: 1;
}

.chat-box-wrapper {
  height: 100%;
}

.chat-box-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-box-messages {
  height: 100%;
  padding: 40px;
  margin-bottom: 5px;
  border-radius: 10px;
  overflow-y: scroll;
}

.currentChat-null-wrapper {
  position: relative;
  height: 100%;
  font-size: 1.6rem;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  /* border: 1px solid lightgrey; */
}

.currentChat-null {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(177, 176, 176);
  cursor: default;
}
